.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #505ABA;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
    overflow: hidden;
}